* {
    box-sizing: border-box;
}

/************************** 
BASE STYLES
***************************/
ul {
    list-style-type: none;
}

/************************** 
LAYOUT
***************************/
header nav *{
    float: left;
    margin: 0 5%;
    width: 20%;
}
main * {
    width: 100%;
    float: left;
}
main img {
    width: 50%;
}
main > section {
    width: 50%;
}
main li {
    width: 25%;
}




/************************** 
ADDITIONAL STYLES
***************************/
